
.bilbox-textarea:read-only {
    border: 0;
    box-shadow: none;
    background-color: #303030 !important;
    color: var(--descrip-text) !important;
}

.bilbox-textarea:read-only::selection {
    color: var(--drag-text);
    background-color: var(--border-color);
}

.bx-reboot-cm-new {
    left: 50px;
    bottom: 0px;
    position: absolute;
}

.bx-reboot-context-menu .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--comfy-input-bg);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}

.bx-reboot-context-menu .menu>li>a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: var(--border-color);
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.bx-reboot-context-menu .menu>li>a:hover {
    background: #161616;
    color: #97a9c4;
}

.bx-reboot-context-menu .menu>li>a>i {
    padding-right: 10px;
}

.bx-reboot-context-menu .menu>li.shutdown>a:hover {
    color: red;
}

.litemenu-entry.submenu {
    position: relative !important;
    overflow: visible !important;
    
}

.bx-tooltip {
    position: fixed;
    max-width: 300px;
    max-height: 80vh;
    margin-left: 15px;
    overflow-y: visible;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.bx-tooltip img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.bx-tooltip p {
    font-size: 14px;
    line-height: 1.4;
}

.submenu:hover .bx-tooltip {
    display: block;
}

.tooltip-text h4 {
    margin: 0 0 6px 0;
    color: #fff;
}